<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>纪海英的网络日志</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    {{{_sections.head}}}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">-->
    <!--<link rel="stylesheet" href="/css/main.css">-->
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/favicon.png">
    <!-- UltraNews CSS  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/widgets.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <script src="/vendor/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body class="header-3">
    <div class="scroll-progress"></div>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center primary-bg color-white">
            <div class="preloader-inner position-relative">
                <div class="text-center font-heading">
                    <img src="/assets/imgs/logo-light.svg" alt="">
                    <h1>纪海英的网络日志</h1>
                    <h6>加载中...</h6>
                </div>
            </div>
        </div>
    </div>
    <!--Search form-->
    <aside id="search-wrapper" class="custom-scrollbar-2 offcanvas-search position-right">
        <div class="close-sidebar color-white"><span></span></div>
        <div class="row no-gutters">
            <div class="col-1-5"></div>
            <div class="col-4-5 position-relative secondary-bg pt-120">
                <div class="offcanvas-inner color-white main-search-form transition-02s">
                    <h2 class="font-x-large">搜索</h2>
                    <div class="pt-10 pb-50 main-search-form-cover">
                        <div class="row mb-20">
                            <div class="col-12">
                                <form action="#" method="get" class="search-form position-relative">
                                    <label>
                                        <input type="text" class="search_field" placeholder="输入关键词搜索" value="" name="s">
                                    </label>
                                    <div class="search-switch">
                                        <ul class="list-inline color-grey">
                                            <li class="list-inline-item"><a href="#" class="active"><i class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 font-medium suggested-area">
                                <p class="d-inline font-medium suggested"><strong>例如:</strong></p>
                                <ul class="list-inline d-inline-block">
                                    <li class="list-inline-item"><a href="#">对象</a></li>
                                    <li class="list-inline-item"><a href="#">跨域</a></li>
                                    <li class="list-inline-item"><a href="#">node</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="main-wrap">
        <header class="main-header header-style header-style-3">
            <div class="mobile_menu d-lg-none d-block font-heading">
                <div class="off-canvas-toggle-cover">
                    <div class="off-canvas-toggle hidden d-inline-block">
                        <span></span>
                    </div>
                </div>
                <div class="mobile-logo text-center d-inline-block d-lg-none mt-5">
                    <a href="index.html" class="d-inline-block"><img src="/assets/imgs/logo-mobile.png" alt=""></a>
                </div>
                <button class="search-icon"><i class="fa fa-search"></i></button>
            </div>
            <div class="row no-gutters d-none d-lg-flex mb-30">
                <div class="col-lg-4 pl-30 align-center-vertical"></div>
                <div class="col-lg-4 text-center align-center-vertical">
                    <div class="sidebar-widget widget-site-identifier">
                        <a href="index.html"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" stroke-miterlimit="10" style="shape-rendering:geometricPrecision; fill-rule:evenodd">
                                <path d="M 120.85,29.21 C 120.85,29.62 120.72,29.99 120.47,30.33 C 120.21,30.66 119.94,30.83 119.63,30.83 C 117.14,31.07 115.09,31.87 113.51,33.24 C 111.92,34.6 110.29,37.21 108.6,41.05 L 82.8,99.19 C 82.63,99.73 82.16,100 81.38,100 C 80.77,100 80.3,99.73 79.96,99.19 L 65.49,68.93 L 48.85,99.19 C 48.51,99.73 48.04,100 47.43,100 C 46.69,100 46.2,99.73 45.96,99.19 L 20.61,41.05 C 19.03,37.44 17.36,34.92 15.6,33.49 C 13.85,32.06 11.4,31.17 8.27,30.83 C 8,30.83 7.74,30.69 7.51,30.4 C 7.27,30.12 7.15,29.79 7.15,29.42 C 7.15,28.47 7.42,28 7.96,28 C 10.22,28 12.58,28.1 15.05,28.3 C 17.34,28.51 19.5,28.61 21.52,28.61 C 23.58,28.61 26.01,28.51 28.81,28.3 C 31.74,28.1 34.34,28 36.6,28 C 37.14,28 37.41,28.47 37.41,29.42 C 37.41,30.36 37.24,30.83 36.91,30.83 C 34.65,31 32.87,31.58 31.57,32.55 C 30.27,33.53 29.62,34.81 29.62,36.4 C 29.62,37.21 29.89,38.22 30.43,39.43 L 51.38,86.74 L 63.27,64.28 L 52.19,41.05 C 50.2,36.91 48.56,34.23 47.28,33.03 C 46,31.84 44.06,31.1 41.46,30.83 C 41.22,30.83 41,30.69 40.78,30.4 C 40.56,30.12 40.45,29.79 40.45,29.42 C 40.45,28.47 40.68,28 41.16,28 C 43.42,28 45.49,28.1 47.38,28.3 C 49.2,28.51 51.14,28.61 53.2,28.61 C 55.22,28.61 57.36,28.51 59.62,28.3 C 61.95,28.1 64.24,28 66.5,28 C 67.04,28 67.31,28.47 67.31,29.42 C 67.31,30.36 67.15,30.83 66.81,30.83 C 62.29,31.14 60.03,32.42 60.03,34.68 C 60.03,35.69 60.55,37.26 61.6,39.38 L 68.93,54.26 L 76.22,40.65 C 77.23,38.73 77.74,37.11 77.74,35.79 C 77.74,32.69 75.48,31.04 70.96,30.83 C 70.55,30.83 70.35,30.36 70.35,29.42 C 70.35,29.08 70.45,28.76 70.65,28.46 C 70.86,28.15 71.06,28 71.26,28 C 72.88,28 74.87,28.1 77.23,28.3 C 79.49,28.51 81.35,28.61 82.8,28.61 C 83.84,28.61 85.38,28.52 87.4,28.35 C 89.96,28.12 92.11,28 93.83,28 C 94.23,28 94.43,28.4 94.43,29.21 C 94.43,30.29 94.06,30.83 93.32,30.83 C 90.69,31.1 88.57,31.83 86.97,33.01 C 85.37,34.19 83.37,36.87 80.98,41.05 L 71.26,59.02 L 84.42,85.83 L 103.85,40.65 C 104.52,39 104.86,37.48 104.86,36.1 C 104.86,32.79 102.6,31.04 98.08,30.83 C 97.67,30.83 97.47,30.36 97.47,29.42 C 97.47,28.47 97.77,28 98.38,28 C 100.03,28 101.99,28.1 104.25,28.3 C 106.34,28.51 108.1,28.61 109.51,28.61 C 111,28.61 112.72,28.51 114.67,28.3 C 116.7,28.1 118.52,28 120.14,28 C 120.61,28 120.85,28.4 120.85,29.21 z"></path>
                            </svg></a>
                        <h1 class="site-name mb-0"><a href="index.html">纪海英的网络日志</a></h1>
                        <p class="font-heading mb-0">不要停止写作</p>
                    </div>
                </div>
                <div class="col-lg-4 position-relative text-right align-center-vertical">
                    <!-- Search -->
                    <div class="search-button d-none d-md-block color-white">
                        <button class="search-icon"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="header-sticky  d-none d-lg-block">
                <div class="row">
                    <div class="col-12">
                        <div class="main-nav text-center">
                            <nav>
                                <ul id="navigation" class="main-menu">
                                    <li>
                                        <a href="index.html">首页</a>
                                    </li>
                                    <li>
                                        <a href="about.html">关于</a>
                                    </li>
                                    <li><a href="category.html">JS</a></li>
                                    <li><a href="category.html">CSS</a></li>
                                    <li><a href="category.html">React</a></li>
                                    <li><a href="category.html">Webpack</a></li>
                                    <li><a href="category.html">TypeScript</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--<div class="top-news">-->
            <!--<div class="carausel-4-columns row">-->
                <!--<div class="col">-->
                    <!--<div class="d-flex">-->
                        <!--<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">-->
                            <!--<a class="color-white" href="single.html">-->
                                <!--<img src="/assets/imgs/thumb-1.jpg" alt="">-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="post-content media-body">-->
                            <!--<h5 class="post-title mb-10 text-limit-2-row"><a href="single.html">A big push to reopen restaurants, malls ASAP</a></h5>-->
                            <!--<div class="entry-meta meta-1 font-x-small color-grey">-->
                                <!--<span class="post-on">02 April</span>-->
                                <!--<span class="hit-count has-dot">21k Views</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; end top news &ndash;&gt;-->
        <main class="position-relative row no-gutters">
            <div class="col-1-5 col-sm-6 left-sidbar sticky-sidebar primary-sidebar order-2 order-lg-1">
                <!--分类-->
                <div class="sidebar-widget widget_categories mb-50 font-heading">
                    <div class="list-group panel">
                        <a href="category.html" class="list-group-item collapsed text-uppercase" data-parent="#sidebar"><span class="hidden-sm-down">目录0</span></a>
                        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><span class="hidden-sm-down">目录1</span> </a>
                        <div class="collapse" id="menu1">
                            <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">目录1-1</a>
                            <div class="collapse" id="menu1sub1">
                                <a href="category.html" class="list-group-item" data-parent="#menu1sub1">U.S.</a>
                                <a href="category.html" class="list-group-item" data-parent="#menu1sub1">Education</a>
                                <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">The Upshot</a>
                                <div class="collapse" id="menu1sub1sub1">
                                    <a href="category.html" class="list-group-item" data-parent="#menu1sub1sub1">Daily Tracker</a>
                                    <a href="category.html" class="list-group-item" data-parent="#menu1sub1sub1">Job Losses</a>
                                </div>
                                <a href="category.html" class="list-group-item" data-parent="#menu1sub1">Europe</a>
                                <a href="category.html" class="list-group-item" data-parent="#menu1sub1">Middle East</a>
                            </div>
                            <a href="category.html" class="list-group-item" data-parent="#menu1">England</a>
                            <a href="category.html" class="list-group-item" data-parent="#menu1">Australia</a>
                            <a href="category.html" class="list-group-item" data-parent="#menu1">Americas</a>
                            <a href="category.html" class="list-group-item" data-parent="#menu1">Asia Pacific</a>
                            <a href="category.html" class="list-group-item" data-parent="#menu1">Europe</a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="sidebar-widget widget_tagcloud wow fadeInUp animated">
                    <div class="widget-header widget-header-style-1 position-relative mb-30">
                        <h5 class="widget-title mt-5 mb-30">标签</h5>
                    </div>
                    <div class="tagcloud mt-50">
                        <a class="tag-cloud-link" href="category.html">js</a>
                        <a class="tag-cloud-link" href="category.html">css</a>
                    </div>
                </div>
                <!--归档-->
                <div class="sidebar-widget widget-archive wow fadeInUp animated">
                    <div class="widget-header widget-header-style-1 position-relative mb-30">
                        <h5 class="widget-title mt-5 mb-30">归档</h5>
                    </div>
                    <ul class="mt-50">
                        <li><a href="category.html">2020年一月</a>&nbsp;(11)</li>
                        <li><a href="category.html">2020年二月</a>&nbsp;(10)</li>
                        <li><a href="category.html">2020年三月</a>&nbsp;(28)</li>
                        <li><a href="category.html">2020年四月</a>&nbsp;(20)</li>
                        <li><a href="category.html">2020年五月</a>&nbsp;(52)</li>
                        <li><a href="category.html">2020年六月</a>&nbsp;(23)</li>
                    </ul>
                </div>
                <div class="sidebar-widget widget-latest-comments mb-50 wow fadeInUp animated">
                    <div class="widget-header widget-header-style-1 position-relative mb-30">
                        <h5 class="widget-title mt-5 mb-30">最新评论</h5>
                    </div>
                    <div class="post-block-list post-module-6 mt-50">
                        <div class="post-module-6-item d-flex wow fadeInUp animated">
                            <span class="item-count vertical-align"><i class="ti-comment"></i></span>
                            <div class="alith_post_title_small">
                                <p class="font-medium mb-10"><a href="single.html">评论内容</a></p>
                                <div class="entry-meta meta-1 font-small color-grey">
                                    <span class="post-on">On 15 April</span>
                                    <span class="hit-count has-dot">王维</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Recent Comment-->
            </div>
            {{{body}}}
            <div class="col-1-5 col-sm-6  right-sidbar order-3 order-lg-3">
                <!--相关文章-->
                <div class="sidebar-widget">
                    <div class="widget-header widget-header-style-1 position-relative mb-30 wow fadeInUp animated">
                        <h5 class="widget-title mt-5 mb-30">相关文章</h5>
                    </div>
                    <div class="post-block-list post-module-1 post-module-5">
                        <ul class="list-post mt-50">
                            <li class="mb-30 wow fadeInUp animated">
                                <div class="d-flex">
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">文章标题</a></h6>
                                        <div class="entry-meta meta-1 font-x-small color-grey">
                                            <span class="post-on">2020.09.05</span>
                                            <span class="hit-count has-dot">阅读 2632</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--热门文章-->
                <div class="sidebar-widget widget-latest-posts mb-50 mt-50">
                    <div class="widget-header widget-header-style-1 position-relative mb-30  wow fadeInUp animated">
                        <h5 class="widget-title mt-5 mb-30">热门文章</h5>
                    </div>
                    <div class="post-block-list post-module-6 mt-50 overflow-hidden">
                        <div class="post-module-6-item d-flex  wow fadeInUp animated">
                            <span class="item-count vertical-align">1.</span>
                            <div class="alith_post_title_small">
                                <h5><a href="single.html">文章标题</a></h5>
                                <div class="entry-meta meta-1 font-small color-grey">
                                    <span class="post-on">2020.09.04</span>
                                    <span class="hit-count has-dot">阅读 2753</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--最新文章-->
                <div class="sidebar-widget">
                    <div class="widget-header widget-header-style-1 position-relative mb-30 wow fadeInUp animated">
                        <h5 class="widget-title mt-5 mb-30">最新文章</h5>
                    </div>
                    <div class="post-block-list post-module-1 post-module-5">
                        <ul class="list-post mt-50">
                            <li class="mb-30 wow fadeInUp animated">
                                <div class="d-flex">
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">文章标题</a></h6>
                                        <div class="entry-meta meta-1 font-x-small color-grey">
                                            <span class="post-on">2020.09.05</span>
                                            <span class="hit-count has-dot">阅读 2656</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget widget-about text-center">
                    <a href="author.html"><img src="/assets/imgs/author.jpg" alt="" class="about-author-img mb-25"></a>
                    <h3 class="mb-25">纪海英</h3>
                </div>
            </div>
            <!--End right sidebar-->
        </main>
        <footer>
            <div class="bottom row no-gutters">
                <div class="col-1-5">
                </div>
                <div class="col-4-5">
                    <div class="divider-1"></div>
                    <div class="pl-lg-110">
                        <div class="row no-gutters">
                            <!--摄影墙-->
                            <div class="col-lg-6">
                                <div class="sidebar-widget widget_contact wow fadeInUp animated">
                                    <div class="widget-header widget-header-style-1 position-relative mb-30">
                                        <h5 class="widget-title mt-5 mb-30">生活摄影</h5>
                                    </div>
                                    <ul class="alith-instagram-grid-widget alith-clr alith-row alith-gap-10">
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-1.jpg">
                                            </a>
                                        </li>
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-2.jpg">
                                            </a>
                                        </li>
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-3.jpg">
                                            </a>
                                        </li>
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-4.jpg">
                                            </a>
                                        </li>
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-5.jpg">
                                            </a>
                                        </li>
                                        <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                            <a class="" target="_blank" href="#">
                                                <img class="border-radius-5" title="" alt="" src="/assets/imgs/thumb-6.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--联系我-->
                            <div class="col-lg-6 col-md-6">
                                <div class="sidebar-widget widget_contact wow fadeInUp animated">
                                    <div class="widget-header widget-header-style-1 position-relative mb-30">
                                        <h5 class="widget-title mt-5 mb-30">联系我</h5>
                                    </div>
                                    <div class="textwidget">
                                        <img src="/assets/imgs/contact.jpg" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pl-md-50">
                            <div class="row no-gutters">
                                <div class="divider-1"></div>
                                <!-- Footer Start -->
                                <div class="footer-bottom-area">
                                    <div class="pt-30 pb-30">
                                        <div class="row no-gutters align-items-center justify-content-between wow fadeInUp animated">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="footer-copy-right">
                                                    <p class="font-medium">© 2020, WritePress | All rights reserved | Design by <a href="http://www.bootstrapmb.com" target="_blank">AliThemes</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div> <!-- Main Wrap End-->
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/wow.min.js"></script>
    <script src="/assets/js/vendor/animated.headline.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/assets/js/vendor/jquery.ticker.js"></script>
    <script src="/assets/js/vendor/jquery.vticker-min.js"></script>
    <script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/jquery.sticky.js"></script>
    <script src="/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/vendor/jquery.counterup.min.js"></script>
    <script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
    <!-- UltraNews JS -->
    <script src="/assets/js/main.js"></script>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    {{{_sections.jquery}}}

    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
    {{/if}}

    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>