<div class="col-3-5 main-content pb-50 order-1 order-lg-2 text-center">
    <div class="loop-list-2">
        <h1>404</h1>
        <h2 class="mb-30">Oops! Page not Found</h2>
        <div class="post-exerpt mb-50">
            <p class="">The link you clicked may be broken or the page may have been removed.<br>
                visit the <a href="index.html">Homepage</a> or <a href="contact.html">Contact us</a> about the problem
            </p>
        </div>
        <form action="#" method="get" class="search-form d-lg-flex open-search mb-30">
            <i class="icon-search"></i>
            <input class="form-control" name="name" id="name" type="text" placeholder="Search...">
        </form>
        <div class="font-medium suggested-area">
            <p class="d-inline font-medium suggested"><strong>Suggested:</strong></p>
            <ul class="list-inline d-inline-block">
                <li class="list-inline-item"><a href="#">Covid-19</a></li>
                <li class="list-inline-item"><a href="#">Health</a></li>
                <li class="list-inline-item"><a href="#">WFH</a></li>
                <li class="list-inline-item"><a href="#">UltraNet</a></li>
                <li class="list-inline-item"><a href="#">Hospital</a></li>
                <li class="list-inline-item"><a href="#">Policies</a></li>
                <li class="list-inline-item"><a href="#">Energy</a></li>
                <li class="list-inline-item"><a href="#">Business</a></li>
            </ul>
        </div>
    </div>
</div>